body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

<<<<<<< HEAD
<ul>
  <li><a href="Home">Home</a></li>
  <li><a href="">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul>
=======
